.main{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 300px;
    height: 150px;
}
.color-black {
    color:black
}

.main button{
    margin:20px 0;
}

.main-container{
    height: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
}

.main-form-container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#161619;
}

.form-window{
    width:80%;
    display: flex;
    align-items: center;
    justify-content: center;
  }